*.o
.deps
*.log
*.dat
*.dSYM
built_*.?pp
test_flatmessage
test_identifiermutator
test_parser
test_nestedmessage
test_safemessage
test_arraymessage
test_optobjects
test_deepinheritance
test_opaquemessage
